@page "/"

<PageTitle>Unstable Rate Estimation Calculator</PageTitle>

<MudPaper Class="ma-4 pa-4">
    <MudText Class="mud-text-secondary">Calculation code made by <a href="https://osu.ppy.sh/users/8202998" class="mud-text-primary">frost</a> and <a href="https://osu.ppy.sh/users/17607667" class="mud-text-primary">Natelytle</a>, website made by <a href="https://osu.ppy.sh/users/7217455" class="mud-text-primary">StanR</a>.</MudText>
    <MudText Class="mud-text-secondary">Direct all questions to <a href="https://discord.gg/aqPCnXu" class="mud-text-primary">pp development discord</a>.</MudText>
</MudPaper>